/* @font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./public/assets/fonts/BeVietnamPro-Regular.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./public/assets/fonts/BeVietnamPro-Medium.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./public/assets/fonts/BeVietnamPro-SemiBold.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./public/assets/fonts/BeVietnamPro-Bold.ttf');
}

@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('./public/assets/fonts/BeVietnamPro-ExtraBold.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');

/* import fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*=== font famil ===*/

@layer base {
    html {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 400;
        color: #545a6d;
        font-size: 13px;
    }

    /* Width */
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c9c9c9;
    }
}

@layer components {
    .component-default {
        box-shadow: 0 0.25rem 0.75rem rgb(18 38 63 / 0.08);
        @apply p-[20px] bg-white rounded;
    }
    .button {
        @apply py-2 px-3 text-[13px] inline-flex gap-3 text-white bg-blue rounded-md leading-[20px] 
        items-center justify-center border-[1px] border-[transparent] active:border-[#8dc6ff] focus:border-[#8dc6ff];
    }
}

/* sidebar */

.h-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.sidebar-submenu {
    display: none;
    overflow: hidden;
    height: 0;
}

.sidebar-submenu[data-state='visible'] {
    display: block;
}

#sidebar li > *.active {
    @apply text-blue;
}

#sidebar .sidebar-submenu li > * {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#sidebar {
    transition: 300ms ease;
}

#sidebar[data-state='collapsed'] {
    width: 70px;
}

#sidebar[data-state='collapsed'] .menu-title,
#sidebar[data-state='collapsed'] .notification-badge,
#sidebar[data-state='collapsed'] .dropdown-icon,
#sidebar[data-state='collapsed'] .menu-catagory-title,
#sidebar[data-state='collapsed'] .promotion-box {
    display: none;
}

#sidebar[data-state='collapsed'] .menu-items > li > button {
    justify-content: center;
}

#sidebar[data-state='collapsed'] .sidebar-submenu {
    display: block;
    min-width: 200px;
    height: max-content;
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(25px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 300ms ease !important;
}

#sidebar[data-state='collapsed'] .dropdown-item:hover > .sidebar-submenu {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

#sidebar[data-state='collapsed'] .dropdown-item:hover > button {
    @apply text-blue bg-white-400;
}

#sidebar[data-state='collapsed'] .sidebar-submenu > li > button {
    padding-left: 24px;
}

#sidebar[data-state='collapsed'] .sidebar-submenu > li > button > .menu-title {
    z-index: 99;
    display: block;
}

.dason-inner[data-sidebar-state='collapsed'] .logo-container {
    padding-right: 30px;
}

.dason-inner[data-sidebar-state='collapsed'] .logo-container .logo-text {
    display: none;
}

/* bread crumb */

.breadcrumb li::after {
    content: '>';
    display: inline-block;
    padding-left: 12px;
}

.breadcrumb li:last-child::after {
    display: none;
}

.donut-tooltip {
    font-size: 9px;
    border: 0;
    outline: 0;
}

/* buttons */
button[data-active-style='blue'].active {
    @apply bg-blue-100 text-blue hover:bg-blue hover:text-white;
}
